/*----------------------------------------------------------
    File Name  : _navbar.scss
    Desc       : File ini merupakan styling untuk 
                 Component Button yang akan dipakai berulang

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * 1. Buttons Landing Page
 *
 */

 @use '../abstracts/variables' as var;


 /*----------------------------------------------------------
1. Buttons Landing page Start 
------------------------------------------------------------*/ 
.btn-primary-cayman {
    color: var.$text-secondary-cayman;
    background-color: var.$bg-primary-cayman;
    
    &:hover {
        color: var.$text-secondary-cayman;
    }
}

.btn-in-getouch{
    background-color: rgba(18, 97, 35, 1);
    border: 1px solid rgba(18, 97, 35, 1);
    color: var.$text-secondary-cayman;
    padding: 15px 0px;
    width: 95%;
    margin: 0 auto;
}

.btn-booking {
    background-color: rgba(26, 147, 52, 1);
    border: 1px solid rgba(26, 147, 52, 1);
    color: rgb(255, 255, 255);
    padding: 15px 30px;
}

.btn-booking:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(2, 88, 20);
}


 /*----------------------------------------------------------
1. Buttons Landing page End 
------------------------------------------------------------*/ 




